@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
main {
    height: 100%;
    min-height: 500px;
    overflow-x: hidden;
    text-align: right;
    padding-bottom: 60px;
    .content {
        padding-top: 30px;
        .home_body {
            text-align: left;
            margin-top: -30px;
        }
        &_wrapper {
            margin-top: 90px;
        }
    }
}
body{
    background: $primary;
    font-family: 'Cairo',sans-serif;
    background-image: url(../img/bg_wrapper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 

.read-more {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.social_links {
    text-align: center;
    a {
        padding: 10px;
        font-size: 20px;
        color: #000;
        i {
            transition: transform .5s ease-in;
        }
        &:hover {
            i {
                transform : rotate(360deg);
            }
        }
    }
}
.intro {
    font-style: italic;
    font-size: 25px;
    font-weight: 100;
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    background: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 0px 20px 0px;
    .navbar-nav {
        padding: 0;
        text-align: center;
    }
}